@import 'tailwindcss';

@font-face {
  font-family: 'MariamsHandwriting';
  src: url('./assets/fonts/MariamsHandwriting-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}

@keyframes caret-blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.animate-caret-blink {
  animation: caret-blink 1s step-end infinite;
}
